<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose task</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

</head>
<body>
    <video id="video" width="320" height="240" autoplay></video>
    <button id="capture">Capture Photo</button>
    <canvas id="canvas" width="320" height="240" style="display:none;"></canvas>
    <img id="photo" src="#" alt="Captured Image" style="display:none;"/>

    <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data"></form>
        <input type="file" id="file-input" name="photo" style="display:none;">
        <button type="submit">Upload photo to recieve three facts</button>
    <script src="{{ url_for('static', filename='js/image_processing.js') }}"></script>
</body>